.note {
  background-color: #351a18;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  margin-top: 150px;
}

.note p {
  font-size: 1.5rem;
}

.note figcaption {
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  color: #f1d2d2;
}

@media screen and (max-width:500px) {

  .note{
    margin-top: 5rem;
  }
  .note p {
    font-size: 0.8rem;
  }
  .note figcaption {
    font-size: 1rem;
  }
}

@media screen and (max-width:400px) {

  .note{
    margin-top: 9rem;
    padding: 3rem 1.5rem;
    
  }
  .note p {
    font-size: 0.8rem;
  }
  .note figcaption {
    font-size: 1rem;
  }
}